/* clases footer */

.WhitCol{
    color: white;
}

/* clases bannner */

.imgBanner{
    width: 75vw;
    height: 80vh;
    filter: opacity(90%);
}

.textRigth {
    padding-left: 57%;
    position: absolute;
    bottom: 100px;
    right: 400px;
}
